html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 font-family: 'Roboto Condensed', sans-serif;
}
a {
	text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.content{
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 45px 30px;
}

@media (max-width: 768px){
	.content{
		padding: 15px 25px 15px;
	}
}

.left-div{
	color: #000;
	font-size: 16px;
	width: 190px;
	display: inline-block;
	position: fixed;
	top: 30px;
}

@media (max-width: 768px){
	.left-div{
		width: 100px;
	}
}


@media (max-width: 768px){
	.name-container{
		top: 20px;
		margin-bottom: 10px;
	}
}

.name-container .full-name{
	position: relative;
	top: -10px;
	/*//font-family: 'Tangerine', cursive;*/
}

@media (max-width: 768px){

	.name-container .full-name{
		top: 0px;
	}

	.full-name span{
		display: block;
	}
}

.left-div .initials{
	font-size: 90px;
	font-weight: bold;
}

.left-div .initials a{
	text-decoration: none;
}

@media (max-width: 768px){
	.left-div .initials{
		font-size: 55px;
		font-weight: bold;
	}
}

.article-container {
	display: inline-block;
	max-width: 1000px;
	width: calc(100% - 200px);
	padding-top: 100px;
	padding-left: 190px;
}
.about-container{
	display: none;
	max-width: 1000px;
	width: calc(100% - 200px);
	padding-top: 100px;
	padding-left: 190px;
}

@media (max-width: 768px){
	.article-container{
		width: calc(100% - 105px);
		padding-left: 105px;
	}
}

.article-container .article{
	display: inline-block;
	/*max-width: 300px;*/
	margin: 0 auto;
	width: calc(33.33% - 16.7px);
	float: left;
	cursor: pointer;
	margin-bottom: 25px;
	margin-right: 25px;
}

@media (max-width: 768px){
	.article-container .article{
		width: calc(50% - 12.5px);
	}

}

.article-container .article:nth-child(3n) {
	content: "";
	display: table;
	margin-right: 0px;
}

@media (max-width: 768px){
	.article-container .article:nth-child(3n) {
		margin-right: 25px;
	}

}

.article-container .article:nth-child(3n+1) {
	content: "";
	display: table;
	clear: both;
}

@media (max-width: 768px){
	.article-container .article:nth-child(3n+1) {
		clear: none;
	}

}

@media (max-width: 768px){
	.article-container .article:nth-child(2n) {
		clear: none;
		margin-right: 0px;
	}
}

@media (max-width: 550px){
	.content{
		padding-top: 65px;
	}

	.article-container {
		width: 100%;
		padding-left: 0px;
	}

	.article-container .article {
		clear: both !important;
		margin-right: 0px !important;
		width: 100%;
	}
	.left-div{
		position: absolute;
		width: 100%;
		top: 10px;
	}
	.full-name span{
		display: inline-block;
	}

}

.article-container .article .img-container .img{
	background-repeat: no-repeat;
	background-size: cover;
	/*max-width: 300px;*/
	height: 200px;
	background-position: 50% 50%;
}
.article-container .article .img-container {
	position: relative;
}

.article-container .article .img-container .preview-text{
	display: none;
	position: absolute;
	top: 0px;
	
}
.article-container .article:hover .img-container .preview-text{
	display: inline-block;
	padding: 15px;
/*	-webkit-transition: background .31s;
	transition: background-color .31s-*/
}

.article-container .article:hover .article-title{
	color: #555;
}

.article-container .article:hover .img-container .img{
	/*//background: white;*/
	/*background-image: none !important;*/
	opacity: .3;
/*	-webkit-transition: background .31s;
	transition: background-color .31s-*/
}

.article-container .article .article-title{
	text-align: center;
	font-weight: bold;
}

.about-me{
	margin-bottom: 10px;
}
.about-me a:hover{
	color: #555;
}

a:visited{
	color: #000;
}
.social .fa{
	font-size: 20px;
	margin-right: 15px;
	margin-bottom: 10px;
	color: #000;
}

.social .fa:hover{
	color: #555;
}