html,
body,
h1,
h2,
h3,
h2,
h4,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 font-family: 'Roboto Condensed', sans-serif;
}

a {
	text-decoration: none;
	color: #000;
	-moz-transition: all .2s ease-in;
	    -o-transition: all .2s ease-in;
	    -webkit-transition: all .2s ease-in;
	    transition: all .2s ease-in;
}

img {
  max-width: 100%;
  height: auto;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.content{
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 45px 30px;
}

@media (max-width: 768px){
	.content{
		padding: 15px 25px 15px;
	}
}

.left-div{
	color: #000;
	font-size: 18px;
	width: 190px;
	display: inline-block;
	position: fixed;
	top: 15px;
}

@media (max-width: 768px){
	.left-div{
		width: 100px;
	}
}


@media (max-width: 768px){
	.name-container{
		top: 20px;
		margin-bottom: 10px;
	}
}

@media (max-width: 550px){
	.name-container{
		margin-left: -1px;
	}
}

.name-container .full-name{
	position: relative;
	top: -10px;
	color: #00B2C0;
	margin-bottom: 40px;
	/*//font-family: 'Tangerine', cursive;*/
	font-size: 18px;
	font-weight: 300;
}

@media (max-width: 768px){

	.name-container .full-name{
		top: 0px;
	}

	.full-name span{
		display: block;
	}
}

.left-div .initials a{
	font-size: 90px;
	font-weight: bold;
	color: #00B2C0;
	margin-left: -5px;
	-moz-transition: all .2s ease-in;
	    -o-transition: all .2s ease-in;
	    -webkit-transition: all .2s ease-in;
	    transition: all .2s ease-in;
}

.left-div .teal a{
	/*color: #00B2C0;*/
	color: #000;
}

.left-div .pink a{
	color: #E5488B;

}
.left-div .yellow a{
	color: #F8D200;

}

.left-div .initials a{
	text-decoration: none;
}
.left-div .initials a:hover{
	color: #000;
}

@media (max-width: 768px){
	.left-div .initials a{
		font-size: 55px;
		font-weight: bold;
	}
}
@media (max-width: 550px){
	.left-div .initials a{
		margin-left: -2px;
	}
}
.article-container {
	display: inline-block;
	max-width: 1000px;
	width: calc(100% - 200px);
	padding-top: 100px;
	padding-left: 190px;
}
.about-container{
	display: none;
	max-width: 420px;
	width: calc(100% - 200px);
	padding-top: 100px;
	padding-left: 220px;
	text-align: justify;
	font-size: 18px;
}
.about-container a{
	color: #00B2C0;
}

.about-container a:visited{
	color: #00B2C0;
}

.about-container a:hover{
	color: #E5488B;
}

@media (max-width: 768px){
	.article-container, .about-container{
		width: calc(100% - 105px);
		padding-left: 105px;
		padding-top: 50px;
	}
}

@media (max-width: 550px){
	.article-container, .about-container{
		width: calc(100% - 105px);
		padding-left: 105px;
		padding-top: 20px;
	}
}

.article-container .article{
	display: inline-block;
	/*max-width: 300px;*/
	margin: 0 auto;
	width: calc(33.33% - 16.7px);
	float: left;
	cursor: pointer;
	margin-bottom: 15px;
	margin-right: 25px;
}
a.article .article{
	width: 100%;
}

@media (max-width: 768px){

	.article-container{
		padding-top: 65px;
	}

	.article-container .article{
		width: calc(50% - 12.5px);
	}

}

.article-container .article:nth-child(3n) {
	content: "";
	display: table;
	margin-right: 0px;
}

@media (max-width: 768px){
	.article-container .article:nth-child(3n) {
		margin-right: 25px;
	}

}

.article-container .article:nth-child(3n+1) {
	content: "";
	display: table;
	clear: both;
}

@media (max-width: 768px){
	.article-container .article:nth-child(3n+1) {
		clear: none;
	}

}

@media (max-width: 768px){
	.article-container .article:nth-child(2n) {
		clear: none;
		margin-right: 0px;
	}
}

@media (max-width: 550px){
	.content{
		padding-top: 150px;
	}

	.article-container {
		padding-top: 20px;
	}

	.article-container, .about-container{
		width: 100%;
		padding-left: 0px;
	}

	.article-container .article {
		clear: both !important;
		margin-right: 0px !important;
		width: 100%;
	}
	.left-div{
		position: absolute;
		width: 280px;
		top: 0px;
	}
	.left-div .name-container{
		margin-bottom: 0px;
	}

	.left-div .initials{
		font-size: 65px;
	}
	.left-div .full-name{
		font-size: 18px;
		top: -10px;
		margin-bottom: 0px;
	}

	.left-div .about-link{
		font-size: 18px;
	}

	.left-div .about-me{
		margin-bottom: 5px;
	}

	@media (max-width: 550px){
		.left-div .about-me{
			margin-bottom: 3px;
			margin-top: 5px;
		}
	}

	.full-name span{
		display: inline-block;
	}

	.social .fa{
		font-size: 22px;
		margin-right: 10px;
	}

}
/*.article-container .article-link{
	display: inline-block;
}*/
.article-container .article .img-container .img{
	background-repeat: no-repeat;
	background-size: cover;
	/*max-width: 300px;*/
	height: 200px;
	background-position: 50% 50%;
	-moz-transition: all .2s ease-in;
	    -o-transition: all .2s ease-in;
	    -webkit-transition: all .2s ease-in;
	    transition: all .2s ease-in;
}
.article-container .article .img-container {
	position: relative;
	margin-bottom: 5px;
}

.article-container .article .img-container .preview-text{
	display: none;
	position: absolute;
	top: 0px;
	
}
.article-container .article:hover .img-container .preview-text{
	display: inline-block;
	padding: 15px;
/*	-webkit-transition: background .31s;
	transition: background-color .31s-*/
}

.article-container .article:hover .article-title{
	color: #00B2C0;
}

.article-container .article:hover .img-container .img{
	/*//background: white;*/
	/*background-image: none !important;*/
	opacity: .3;
	-moz-transition: all .2s ease-in;
	    -o-transition: all .2s ease-in;
	    -webkit-transition: all .2s ease-in;
	    transition: all .2s ease-in;
/*	-webkit-transition: background .31s;
	transition: background-color .31s-*/
}

.article-container .article .article-title{
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	-moz-transition: all .2s ease-in;
	    -o-transition: all .2s ease-in;
	    -webkit-transition: all .2s ease-in;
	    transition: all .2s ease-in;
}

.about-me{
	margin-bottom: 10px;
}
.about-link{
	color: #00B2C0;
}
.about-link:hover{
	color: #000;
}


.social .fa{
	font-size: 20px;
	margin-right: 15px;
	margin-bottom: 10px;
	color: #00B2C0;
	-moz-transition: all .2s ease-in;
	    -o-transition: all .2s ease-in;
	    -webkit-transition: all .2s ease-in;
	    transition: all .2s ease-in;
}

.social .fa:hover{
	color: #000;
}
.sample-audio{
	width: 50%;
	right: 60px;
	float: right;
	display: none;
}
.slide {
	position: fixed;
	height: 330px;
	width: 200px;
	bottom: 0vh;
	right: -400px;
	background-position: 50% 50%;
	background-size: cover;
}
.b-container{
	background: white;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
	text-align: center;
	display: none;
}
.pray{
	width: 100px;
	height: 50px;
	background: #d1b069;
	border-radius: 15px;
	font-size: 18px;
	z-index: 15;
}
.pray-back{
	display: block;
	margin-left: 20px;
}
.b{
	background-image : url(../js/images/buddha.png);
	background-position: 50% 50%;
	background-size: contain;
	height: 580px;
	max-height: 580px;
	width: 50%;
	margin: 0 auto;
	background-repeat: no-repeat;
}
.bill{
	position: fixed;
	width: 60px;
	height: 30px;
	bottom: 0vh;
	top: -400px;
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 10;

}

.bill1{
	left: 10%;
}
.bill2{
	left: 26%;
}
.bill3{
	left: 30%;
	top:-200px;
}
.bill4{
	left: 41%;
}
.bill5{
	left: 53%;
	top:-200px;
}
.bill6{
	left: 65%;
}
.bill7{
	left: 80%;
	top:-200px;
}
.bill8{
	left: 6%;
}
.bill9{
	left: 30%;
}
.bill10{
	left: 22%;
}
.bill11{
	left: 70%;
}
.bill12{
	left: 46%;
}
.bill13{
	left: 56%;
}
.bill14{
	left: 66%;
}
.bill15{
	left: 72%;
}
.bill16{
	left: 82%;
}
.bill17{
	left: 92%;
}
.bill18{
	left: 32%;
}
.bill19{
	left: 52%;
}

.sample input{
	position: relative;
	left: 0px;
	width: 30px;
	cursor: pointer;
	font-size: 2px;
	padding: 0px;
	opacity: 0;
	top: 100px;
	
}
.buddah-btn{
	display: none;
	opacity: 1 !important;
    width: 100px !important;
    background: gold !important;
    height: 40px !important;
    font-size: 20px !important;
}